/* Styling Input Form */
.subform {
  text-align: center;
  display: block;
}

/* Styling for Home Page */
.container {
  text-align: center;
  padding: 0px 0px;
}

/* Table Header Styling in Licences */
.names {
  font-weight: bold;
  color: rgb(98, 107, 106);
}
/* Wrapping Auto to avoid clutterness in Licences table for mobilr devices */
w-auto {
  width: 100%;
}

p {
  padding: 20px;
  font-weight: bold;
  color: rgb(98, 107, 106);
}

input {
  border-radius: 2px;
}

/* Styling for active links in Header */
.active {
  background-color: rgb(189, 199, 185);
  border-radius: 8px;
  font-weight: bold;
}

a.nav-item {
  font-weight: bold;
  color: rgb(48, 96, 184) !important;
}

navbar {
  position: fixed !important;
  width: 100% !important;
  z-index: 1000 !important;
}

/* Styling Hedaer */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 13px;
}


/* Styling for Home Page */
h1 {
  padding: 80px;
  color: rgb(98, 107, 106);
}
